.TopNav {
  display: block;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: black;
} 


.TopNav-list {
width: 87.6%;
margin-left: 7.5%;
margin-bottom: 0%;
font-family: Verdana, Geneva, sans-serif;
background-color: rgb(255, 102, 0);

}

p{
  margin-bottom: 0%;
  width: 100%;
  padding-right: 20px;
}

.main {
font-size: large;
font-weight: bold;
}

.login{
  position: absolute;
  left: 92%;
  padding-right:4px;
}
 
#TitleBlock{
padding-top: 2px;
margin-top: 2px;
}
.mine {
  margin-top: 0%;
  padding-top: 10px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  width: 85%;
  margin-left: 7.5%;
  vertical-align: middle;
  background-color: rgb(246, 246, 239);
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  color: -internal-quirk-inherit;
  text-align: start;
  font-variant: normal;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 10pt;
  color:#828282;
  }

a {
  color: #828282;
  text-decoration: none;
}